.node {
    width: 30px;
    height: 30px;
    background-color: white;
    outline: 3px solid black;
    display: block;
    float: left;
}

.node-visited {
    background-color: #0074d9;
}

.start-node {
    background-color: #2ecc40;
    font-size: 23px;
}

.end-node {
    background-color: #ff4136;
    font-size: 23px;
}

.node-shortest-path {
    background-color: #ffdc00;
}

.node-wall {
    background-color: grey;
}
